div#header_center.col-sm-12.col-md-4.text-center {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    text-align: center;
    min-height: 1px;
    width: 300%;
    display: table-cell;
    vertical-align: middle;
    float: none;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    transform: translate(75%, 600%);
}

div#search_block_top.quick_search_0.top_bar_item.clearfix {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 200%;
    vertical-align: baseline;
    display: inline-block;
    text-align: left;
    width: 100%;
}

form#searchbox {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    color: #000;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    position: relative;
}
div#searchbox_inner.clearfix {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    color: #000;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
input#search_query_top.search_query.form-control.ac_input {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    font-family: inherit;
    vertical-align: middle;
    width: 100%;
    font-size: 14px;
    color: #555;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    opacity: 1;
    border: none;
    border-bottom: 1px solid grey;
    display: inline;
    padding: 0 8px;
    height: 34px;
    line-height: normal;
    background-color: transparent;
    cursor: pointer;
}

button.button-search {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    background: 0 0;
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    width: 32px;
    height: 32px;
    line-height: 100%;
    text-align: center;
    color: #777;
}

i.icon-search-1.icon-large {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    text-transform: none;
    cursor: pointer;
    text-align: center;
    color: #777;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

div#header_primary_row.row {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    color: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 120%;
    vertical-align: baseline;
    display: table;
    height: 65px;
    margin-left: 250px;
    margin-right: 50px;
    width: 100%;
    margin-top: 120px;
    padding-left: 0;
    padding-right: 0;
}