.nav #nav_right{
    float: left;
}

.nav {
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    &:extend(.clearfix all);
}

    
div#top_bar.nav.horizontal-s {

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin-bottom: 0;
    list-style: none;
    background: white;
    color: #111;
    background-color: white;
    padding: 4px 0px;
    position: relative;
}

div.wide_container{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    list-style: none;
    color: #111;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 30px;
}
div.container {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    list-style: none;
    color: #111;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    padding-right: 15px;
    padding-left: 15px;
    width: 100% !important;
    margin: 0 !important;
    max-width: 100%!important;
}

div.row {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    list-style: none;
    color: #111;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

nav#nav_left.clearfix {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    list-style: none;
    color: #111;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
    float: left;
}
nav#nav_center.clearfix {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    list-style: none;
    color: #111;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: inline-block;
    position: static;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -28%);
   
}

nav#nav_right.clearfix {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --light-neptuno-color: #E5F6F2;
    --dark-neptuno-color: #2C6D5E;
    --advsm-accent-color: white;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --df-layer-animation-duration: .5s;
    --df-accent-primary: #4387f4;
    --df-accent-primary-hover: #2b77f3;
    --df-accent-primary-active: #1368f1;
    --df-accent-on-primary: #f5f9fe;
    --df-accent-secondary: #e5e6e6;
    --df-accent-secondary-hover: #d8d9da;
    --df-accent-secondary-active: #cbcccd;
    --df-accent-on-secondary: #323334;
    --df-accent-tertiary: #323334;
    --df-accent-tertiary-hover: #252627;
    --df-accent-tertiary-active: #191a1a;
    --df-accent-on-tertiary: #fafafa;
    --df-neutral-background: #fff;
    --df-neutral-surface: #fff;
    --df-neutral-surface-variant: #e5e6e6;
    --df-neutral-outline: #cbcccd;
    --df-neutral-low-contrast: #cbcccd;
    --df-neutral-medium-contrast: #75787a;
    --df-neutral-high-contrast: #323334;
    --df-neutral-disabled: #eff0f0;
    --alto-desktop: 514px;
    list-style: none;
    color: #111;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 70%;
    vertical-align: baseline;
    display: flex;
    justify-content: space-between;
    width: 14%;   
    transform: translate(-35%, -114%);
}
    
