.menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
}

.palabra {
    position: relative;
    display: contents;
    padding-left: 150px;
    padding-right: 100px;
}

.palabra:hover .menu {
    display: block;
}